*.dll
*.exe
*.exe.config
*.exe.config
*.exp
*.ipch
*.metagen
*.ncb
*.nupkg
*.obj
*.opensdf
*.pdb
*.ReSharper
*.sdf
*.suo
*.swp
*.user
*.xml

bin/
obj/
packages/
Debug/
Release/
Catalogia_POC/bin/
Catalogia_POC/bin/Debug
Catalogia_POC/bin/Release
Catalogia_POC/obj
Catalogia_POC/obj/Debug
Catalogia_POC/obj/Release
